<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' type='text/css' href='resources/css/bootstrap-no-print.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/font.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/template-style.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/index-chart.css'>
    <link rel='stylesheet' type='text/css' href='resources/css/utility.css'>

    <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src='bower_components/angular-sanitize/angular-sanitize.min.js'></script>
    <script type="text/javascript" src='bower_components/lodash/dist/lodash.min.js'></script>
    <script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>

    <script type="text/javascript" src="app/app.template.js"></script>
    <script type="text/javascript" src="app/directives.template.js"></script>
    <script type="text/javascript" src="app/services.template.js"></script>
    <script type="text/javascript" src="app/controllers.template.js"></script>

</head>

<style>
	.blue-title, .index-label {
		font-size:22px;
		/* 正常版：17px; */
	}
</style>

<body ng-app="template" ng-controller="MainController as ctrl" media="print">
<div class="report-container">

    <!--PAGE 1-->
    <div class="page-container page-break-after">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <h1 class="blue-title">Omega-3指标报告</h1>
            <div class="row top15">
                <ng-include src="'views/profile-table.html'" class="col-xs-7"></ng-include>
                <div class="col-xs-3 nopadding">
                    <div class="index-label">您的指标</div>
                    <div class="custom_font_size">
                        参考区间*: {{report.omega3_index_ref_range}}
                    </div>
                </div>
                <div class="col-xs-2 nopadding">
                    <div class="index-circle">{{report.omega3_index}}</div>
                </div>
            </div>

            <div class="row top15 chart_font_size">
                <ng-include src="'views/omega-3-chart.html'"></ng-include>
                <div class="custom_font_size suggestion-text top30">
                    {{report.omega3_index_summary_text}}
                </div>
            </div>
            <div class="custom_font_size row plain-text top30" ng-bind-html="report.omega3_index_detail_text"></div>
        </div>
        <ng-include ng-repeat="page in [{'page': 1}]" src="'views/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 2-->
    <div class="page-container page-break-after">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <h1 class="blue-title">Omega6：Omega3比例</h1>
            <div class="row top15">
                <ng-include src="'views/profile-table.html'" class="col-xs-7"></ng-include>
                <div class="col-xs-3 nopadding">
                    <div class="index-label">您的指标</div>
                    <div class="custom_font_size">
                        参考区间*: {{report.n6_n3_ref_range}}
                    </div>
                </div>
				<div class="col-xs-2 nopadding">
                    <div class="index-circle">{{report.n6_n3}}</div>
                </div>
            </div>
            <div class="row top15 chart_font_size">
                <ng-include src="'views/n6-n3-chart.html'"></ng-include>
                <div class="custom_font_size suggestion-text top30">
                    {{report.n6_n3_summary_text}}
                </div>
            </div>

            <div class="custom_font_size row plain-text top30" ng-bind-html="report.n6_n3_detail_text"></div>
        </div>
        <ng-include ng-repeat="page in [{'page': 2}]" src="'views/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 3-->
    <!-- <div class="page-container page-break-after">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <h1 class="blue-title">反式脂肪酸指标报告</h1>
            <div class="row top15">
                <ng-include src="'views/profile-table.html'" class="col-xs-7"></ng-include>
                <div class="col-xs-3 nopadding">
                    <div class="index-label">您的指标</div>
                    <div class="custom_font_size">
                        参考区间*: {{report.trans_fat_index_ref_range}}
                    </div>
                </div>
                <div class="col-xs-2 nopadding">
                    <div class="index-circle">{{report.trans_fat_index}}</div>
                </div>
            </div>

            <div class="row top15 chart_font_size">
                <ng-include src="'views/trans-fat-chart.html'"></ng-include>
                <div class="custom_font_size suggestion-text top30">
                    {{report.trans_fat_index_summary_text}}
                </div>
            </div>

            <div class="custom_font_size row plain-text top30" ng-bind-html="report.trans_fat_index_detail_text"></div>
        </div>
        <ng-include ng-repeat="page in [{'page': 3}]" src="'views/footer-1.html'"></ng-include>
    </div> -->

    <!--PAGE 4-->
    <div style="font-size:18px" class="custom_font_size page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="custom_font_size row top15">
                <div class="blue-title col-xs-5 left-align">全部脂肪酸结果<br>报告简介</div>
                <ng-include src="'views/profile-table.html'" class="col-xs-7"></ng-include>
            </div>
            <div class="top30">
                <p class="center-align">干血纸片采样法脂肪酸成份表</p>
                <table class="o-table page-3">
                    <thead>
                    <tr class="border-both">
                        <th style="width:40%;">脂肪酸组</th>
                        <th style="width:20%;">总</th>
                        <th style="width:20%;">百分比</th>
                        <th style="width:20%;">参考区间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--SECTION-1-->
                    <tr class="border-bottom title">
                        <td>Omega-3多不饱和脂肪酸</td>
                        <td>{{report.total_omega3}}</td>
                        <td>{{report.total_omega3_rank}}</td>
                        <td>{{report.total_omega3_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Omega-3多不饱和脂肪酸指标</td>
                        <td>{{report.omega3_index}}</td>
                        <td>{{report.omega3_index_rank}}</td>
                        <td>{{report.omega3_index_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>阿尔法亚麻酸(18:3n3)</td>
                        <td>{{report.C18_3n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十碳三烯酸(20:3n3)</td>
                        <td>{{report.C20_3n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十二碳五烯酸n3(22:5n3)</td>
                        <td>{{report.C20_5n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十二碳六烯酸(DHA, 22:6n3)</td>
                        <td>{{report.C22_6n3}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--SECTION-2-->
                    <tr class="border-both title">
                        <td>Omega-6多不饱和脂肪酸</td>
                        <td>{{report.total_omega6}}</td>
                        <td>{{report.total_omega6_rank}}</td>
                        <td>{{report.total_omega6_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>亚油酸(18:2n6)</td>
                        <td>{{report.C18_2n6c}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>伽马亚油酸(18:3n6)</td>
                        <td>{{report.C18_3n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>双高-γ-亚麻油酸(20:3n6)</td>
                        <td>{{report.C20_3n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>花生四烯酸(AA, 20:4n6)</td>
                        <td>{{report.C20_4n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十二碳二烯酸(22:2n6)</td>
                        <td>{{report.c22_2n6}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--SECTION-3-->
                    <tr class="border-both title">
                        <td>顺式单不饱和脂肪酸</td>
                        <td>{{report.total_monounsaturated}}</td>
                        <td>{{report.total_monounsaturated_rank}}</td>
                        <td>{{report.total_monounsaturated_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>十四碳烯酸(14:1)</td>
                        <td>{{report.C14_1}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>银杏酸(15:1)</td>
                        <td>{{report.C15_1}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>棕榈油酸(16:1)</td>
                        <td>{{report.C16_1}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>银杏酸(17:1)</td>
                        <td>{{report.C17_1}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>油酸(18:1n9)</td>
                        <td>{{report.C18_1n9c}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>花生酸(20:1n9)</td>
                        <td>{{report.C20_1n9}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>芥酸(22:1)</td>
                        <td>{{report.C22_1}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>神经酸(24:1n9)</td>
                        <td>{{report.C24_1n9}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--SECTION-4-->
                    <tr class="border-both title">
                        <td>饱和脂肪酸</td>
                        <td>{{report.total_saturated}}</td>
                        <td>{{report.total_saturated_rank}}</td>
                        <td>{{report.total_saturated_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>肉豆蔻酸(14:0)</td>
                        <td>{{report.C14_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>十五烷酸(15:0)</td>
                        <td>{{report.C15_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>棕榈酸(16:0)</td>
                        <td>{{report.C16_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>十七烷酸(17:0)</td>
                        <td>{{report.C17_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>硬脂酸(18:0)</td>
                        <td>{{report.C18_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>花生酸(20:0)</td>
                        <td>{{report.C20_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十一烷酸(21:0)</td>
                        <td>{{report.C21_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十二碳烷酸(22:0)</td>
                        <td>{{report.C22_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十三烷酸(23:0)</td>
                        <td>{{report.C23_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>二十四烷酸(24:0)</td>
                        <td>{{report.C24_0}}</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <!--SECTION-5-->
                    <!-- <tr class="border-both title">
                        <td>反式脂肪酸</td>
                        <td>{{report.total_trans}}</td>
                        <td>{{report.total_trans_rank}}</td>
                        <td>{{report.total_trans_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>反式棕榈油酸(16:1n7t)</td>
                        <td>{{report.C16_1n7t}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>反式油酸(18:1t)</td>
                        <td>{{report.C18_1t}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>反式亚油酸(18:2n6t)</td>
                        <td>{{report.C18_2n6t}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>反式脂肪指标</td>
                        <td>{{report.trans_fat_index}}</td>
                        <td>{{report.trans_fat_index_rank}}</td>
                        <td>{{report.trans_fat_index_ref_range}}</td>
                    </tr> -->

                    <!--SECTION-6-->
                    <tr class="border-both title">
                        <td>比率</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>AA:EPA</td>
                        <td>{{report.aa_epa}}</td>
                        <td>{{report.aa_epa_rank}}</td>
                        <td>{{report.aa_epa_ref_range}}</td>
                    </tr>
                    <tr>
                        <td>Omega-6:Omega-3</td>
                        <td>{{report.n6_n3}}</td>
                        <td>{{report.n6_n3_rank}}</td>
                        <td>{{report.n6_n3_ref_range}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 3}]" src="'views/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 5-->
    <div style="font-size:18px" class="custom_font_size page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="row top15">
                <div class="blue-title col-xs-5 left-align">全部脂肪酸结果<br>报告简介</div>
                <ng-include src="'views/profile-table.html'" class="col-xs-7"></ng-include>
            </div>
            <div class="top15">
                <p class="bolder-text">欧米伽3多不饱和脂肪酸</p>
                <p>
                    这里记录的四种Omega-3多不饱和脂肪酸(下称Omega-3)包括“植物类”Omega-3(阿尔法亚麻酸，alpha-linolenic acid, ALA)和三种“鱼类”Omega-3(EPA，DHA和DPAn3)。ALA是膳食中两种重要脂肪酸之一，像维生素一样，我们不能自己生成，因此需要从食物中摄取。从膳食中摄入ALA的量建议每天为2克。ALA主要来自于菜籽油或者芥花油中，其他来源丰富的食物包括茨欧鼠尾草籽油、亚麻子油、胡桃等。严格来说“鱼类”Omega-3不是必要的脂肪酸，因为我们体内可以从ALA中生成。但是我们的身体并不能有效的生成它们，所以直接服用EPA和DHA对身体有好处。普遍而言，健康的成年人的EPA+DHA量建议保持在250mg毫克/天至500毫克/天［中国营养学会，国际脂肪酸和类脂研究学会］。Omega-3指标由血液内EPA和DHA值的总数测得，理想浓度为大于8%。
                </p>
            </div>
            <div class="top15">
                <p class="bolder-text">欧米伽6多不饱和脂肪酸</p>
                <p>
                    我们测试Omega-6多不饱和脂肪酸(下称Omega-6)中七种脂肪酸水平。各种Omega-6中的85%仅从两种脂肪酸中而来——亚油酸(LA)和花生四烯酸(AA)。LA是和ALA一样重要的脂肪酸，我们的身体可以从LA生成其他Omega-6，包括AA。我们知道AA影响很多不同的细胞过程。血液中LA浓度是由过去几个月的平均进食量而决定的，而AA(和其他五种Omega-6)的浓度则主要取决于身体的代谢水平。换言之，您几乎不能自主改变血液中将近七分之六的Omega-6浓度，并且明显改变血液中的LA浓度需要数月之久。大多数专家建议LA每天摄入量应在12-24克间；目前国人每天平均摄入量为15克。AA是神经元的重要组成部分，也是我们身体分泌促炎分子的起始元素，而长期炎症很明显是不健康的，所以AA摄入既必需，也不适宜过多。
                </p>
            </div>
            <div class="top15">
                <p class="bolder-text">顺式单不饱和脂肪酸</p>
                <p>
                    在您的血液分析中，这类顺式单不饱和脂肪酸中又分为四种脂肪酸，这类脂肪酸中的95%都只从一种叫油酸的脂肪酸中生成。这种脂肪酸在饮食中随处可见（如橄榄油和山茶油)，也可以在体内生成，因此不是必需脂肪酸。相对而言在“地中海膳食”中油酸含量较多。油酸浓度相对难以改变，需要通过改善数月的饮食来调整。目前，为完整起见，在报告中我们提供了油酸水平。很多植物油是油酸的来源，特别是橄榄油和芥花油。在顺式单不饱和脂肪酸类别中除此之外仅有棕榈油酸有同等作用。通常棕榈油酸仅占您的血液中脂肪酸浓度的0.5%，高浓度也许表示了您摄取了过度的精致碳水化合物(糖、高果糖玉米糖浆、白砂糖等)。
                </p>
            </div>
            <div class="top15">
                <p class="bolder-text">饱和脂肪酸</p>
                <p>
                    报告中有六种饱和脂肪酸。饱和脂肪酸和不饱和脂肪酸(无论是单不饱和脂肪酸还是多不饱和脂肪酸)化学性质不同，它们没有“双键”。双键改变了脂肪酸的构成，也意味着改变了它们在人体内和食物中的作用。大多数由饱和脂肪酸制成的产物或食物在室温下为固体(黄油、起酥油、猪油)，但那些由不饱和脂肪酸制成的产物或食物则为液体(菜油或鱼油)。饱和脂肪酸大多数是从两种脂肪酸中生成的:棕榈酸和硬脂酸。血液中这两种脂肪酸一起占了饱和脂肪酸的接近98%，棕榈酸制造了2/3的饱和脂肪酸。硬脂酸对健康没什么影响，但高棕榈酸也许有影响。高棕榈酸会引起高胆固醇，因此提高了患心脏病的风险。近期发现血液中高棕榈酸与糖尿病患病率升高有关。因此将棕榈酸保持低于“平均值”(比如低于23%)是明智的决定。
                </p>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 4}]" src="'views/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 6-->
    <div style="font-size: 18px" class="custom_font_size page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="row top15">
                <div class="blue-title col-xs-5 left-align">全部脂肪酸结果<br>报告简介</div>
                <ng-include src="'views/profile-table.html'" class="col-xs-7"></ng-include>
            </div>
            <!-- <div class="top15">
                <p class="bolder-text">反式脂肪酸</p>
                <p>
                    反式脂肪酸和更自然的顺式脂肪酸的区别在于脂肪酸分子中双键的方向。由双键结合的碳原子在顺式脂肪酸中呈同侧而在反式脂肪中呈异侧。(参照我们网站上反式脂肪酸索引标签下的问答部分。)这些脂肪酸大多是非天然、从称为“氢化作用”的工业加工中形成，即将液体油转化为固体脂肪，“部分氢化作用”则是只将部分油中的顺式多不饱和脂肪酸转化成反式单不饱和脂肪酸，即允许产物保持液态。(例如部分氢化的豆油通常用于沙拉酱和油炸物)。这些“工业加工的”反式脂肪酸目前普遍被认为对心脏健康有负面作用，并且因为该浓度在血液中是直接反应了其在膳食中的浓度，相对而言改变膳食习惯从而改变血中浓度就相对简单。(Omega-3也是一样，除非我们想在膳食和血液中观测更多的Omega-3和更少的反式脂肪酸。)我们的网站上在反式脂肪酸索引标签下的问答部分中解释了让反式脂肪酸的理想状态设定在低于1%血中浓度的基本理论。
                </p>
            </div> -->
            <div class="top15">
                <p class="bolder-text">AA:EPA比率</p>
                <p>
                    您的脂肪酸谱检测报告包括了两种脂肪酸比率:Omega-6:Omega-3比率和AA:EPA比率。
                    <br>
                    <br>
                    前面提到，AA和EPA都是对人体很重要的必需脂肪酸。但是它们对于身体内的炎症反应有不同的作用。EPA抑制花生四烯酸（AA）的产生，从而抑制细胞炎症介质类花生酸（eicosanoids）的产生。从饮食中摄入的EPA越多，体内生产的AA就越少，身体生产的促炎性类二十烷酸（前列腺素，血栓烷，白三烯等）就越少。其次, EPA还与AA竞争需要的磷脂酶A2酶，从膜磷脂（A2存储在其中）释放AA。
                    <br>
                    <br>
                    研究表明，EPA对于降低神经炎症至关重要。由于EPA进入大脑容易氧化，唯一控制大脑中细胞炎症的方法是保持血液中EPA的高水平，进而影响抑郁、多动症、脑震荡等。
                    <br>
                    <br>
                    血液中两种必需脂肪酸AA：EPA的比例指示了细胞炎症的可能水平。高水平的细胞炎症并不意味着您患有疾病状态，但它确实表明您的未来健康状况欠佳，如下所示。
                </p>
                <table border="1" class="o-table-2">
                    <tr>
                        <th>AA/EPA范围</th>
                        <th>细胞炎症</th>
                        <th>未来的健康状况</th>
                    </tr>
                    <tr>
                        <td>1.5 至 3</td>
                        <td>低</td>
                        <td>最佳</td>
                    </tr>
                    <tr>
                        <td>3 至 6</td>
                        <td>中等</td>
                        <td>好</td>
                    </tr>
                    <tr>
                        <td>7 至 15</td>
                        <td>升高</td>
                        <td>中等</td>
                    </tr>
                    <tr>
                        <td>> 多过 15</td>
                        <td>高</td>
                        <td>差</td>
                    </tr>
                </table>
                <p><br>这是无征兆炎症的黄金标准测试，对于癌症、阿兹海默症和心脏疾病等的早期预测有指导意义。理想的 AA/EPA比率介于1和3。若比率高于10,则对健康不利。比率超过15,意味身体处于无征兆炎症状态,您须加倍留意。细胞炎症水平越高，慢性病的未来发展就越有可能加速。
降低AA/EPA 比率的最快方法是大量增加富含EPA的高纯度欧米伽3脂肪酸的摄入量。最好的长期方法是通过严格的抗炎饮食同时降低血液中的AA水平。抗炎饮食与高纯度欧米伽3结合使用是达到和维持低水平细胞炎症的最有效方法。
</p>
                <table border="1" class="o-table-2">
                    <thead>
                        <tr class="border-both">
                            <th style="width: 40%">每天所补充的EPA和DHA(克)</th>
                            <th style="width: 40%">AA/EPA 比率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>12.1</td>
                        </tr>
                        <tr>
                            <td>0.8</td>
                            <td>4.7</td>
                        </tr>
                        <tr>
                            <td>2.5</td>
                            <td>2.6</td>
                        </tr>
                        <tr>
                            <td>5.0</td>
                            <td>1.3</td>
                        </tr>
                        <tr>
                            <td>7.5</td>
                            <td>1.2</td>
                        </tr>
                    </tbody>
                </table>

                <p><br>上面的数据表明，每天2.5克的EPA和DHA足以使AA/EPA比率达到所需的范围，从而提供良好的健康。研究表明，患有各种慢性疾病的患者，他们的AA/EPA比率升高（>15）。当每日补充2.5克EPA 和DHA，他们的AA/EPA 比例下降至大约2.5。与健康个体相比，患有慢性疾病的人可能需要在医生指导下使用更大量的欧米伽3。
为了更好的掌控日常饮食所需欧米伽3的最佳用量，需要通过每6 至12 个月进行一次脂肪谱检测来确定Omega-6:Omega-3比率和AA:EPA比率。
</p>
            </div>
        </div>
        <ng-include ng-repeat="page in [{'page': 5}]" src="'views/footer-1.html'"></ng-include>
    </div>

    <!--PAGE 7-->
    <div style="font-size:16px" class="custom_font_size page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="top15">
                <p class="center-align">EPA＋DHA在常见鱼及鱼油精华中的含量(剂量为每3盎司或85克)</p>
                <table class="o-table page-3">
                    <thead>
                    <tr class="border-both">
                        <th style="width:40%;">鱼和海鲜</th>
                        <th style="width:20%;">EPA</th>
                        <th style="width:20%;">DHA</th>
                        <th style="width:20%;">EPA+DHA</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--SECTION-1-->
                    <tr>
                        <td>大西洋三文鱼(养殖)</td>
                        <td>587</td>
                        <td>1238</td>
                        <td>1825</td>
                    </tr>
                    <tr>
                        <td>太平洋鲱鱼</td>
                        <td>1056</td>
                        <td>751</td>
                        <td>1807</td>
                    </tr>
                    <tr>
                        <td>大西洋鲱鱼</td>
                        <td>773</td>
                        <td>939</td>
                        <td>1712</td>
                    </tr>
                    <tr>
                        <td>大西洋三文鱼(野生)</td>
                        <td>349</td>
                        <td>1215</td>
                        <td>1564</td>
                    </tr>
                    <tr>
                        <td>金枪鱼</td>
                        <td>309</td>
                        <td>970</td>
                        <td>1279</td>
                    </tr>
                    <tr>
                        <td>银鲑鱼(野生)</td>
                        <td>462</td>
                        <td>706</td>
                        <td>1168</td>
                    </tr>
                    <tr>
                        <td>粉鲑鱼(野生)</td>
                        <td>456</td>
                        <td>638</td>
                        <td>1094</td>
                    </tr>
                    <tr>
                        <td>银鲑鱼(养殖)</td>
                        <td>347</td>
                        <td>740</td>
                        <td>1087</td>
                    </tr>
                    <tr>
                        <td>鲭鱼(罐装)</td>
                        <td>369</td>
                        <td>677</td>
                        <td>1046</td>
                    </tr>
                    <tr>
                        <td>红鲑鱼</td>
                        <td>353</td>
                        <td>690</td>
                        <td>1043</td>
                    </tr>
                    <tr>
                        <td>狗鲑(罐装)</td>
                        <td>402</td>
                        <td>597</td>
                        <td>999</td>
                    </tr>
                    <tr>
                        <td>沙丁鱼(罐装)</td>
                        <td>402</td>
                        <td>433</td>
                        <td>835</td>
                    </tr>
                    <tr>
                        <td>粉鲑鱼(罐装)</td>
                        <td>233</td>
                        <td>579</td>
                        <td>812</td>
                    </tr>
                    <tr>
                        <td>旗鱼</td>
                        <td>108</td>
                        <td>656</td>
                        <td>764</td>
                    </tr>
                    <tr>
                        <td>虹鳟鱼(养殖)</td>
                        <td>220</td>
                        <td>524</td>
                        <td>744</td>
                    </tr>
                    <tr>
                        <td>长鳍金枪鱼(或白)金枪鱼(罐装)</td>
                        <td>198</td>
                        <td>535</td>
                        <td>733</td>
                    </tr>
                    <tr>
                        <td>鲨鱼(生)</td>
                        <td>269</td>
                        <td>448</td>
                        <td>717</td>
                    </tr>
                    <tr>
                        <td>黑鲈</td>
                        <td>175</td>
                        <td>473</td>
                        <td>648</td>
                    </tr>
                    <tr>
                        <td>大西洋青鳕</td>
                        <td>77</td>
                        <td>383</td>
                        <td>460</td>
                    </tr>
                    <tr>
                        <td>帝王蟹</td>
                        <td>251</td>
                        <td>100</td>
                        <td>351</td>
                    </tr>
                    <tr>
                        <td>碧古鱼</td>
                        <td>94</td>
                        <td>245</td>
                        <td>339</td>
                    </tr>
                    <tr>
                        <td>邓杰内斯蟹</td>
                        <td>239</td>
                        <td>96</td>
                        <td>335</td>
                    </tr>
                    <tr>
                        <td>牡蛎(养殖，生)</td>
                        <td>160</td>
                        <td>173</td>
                        <td>333</td>
                    </tr>
                    <tr>
                        <td>鲣鱼</td>
                        <td>77</td>
                        <td>201</td>
                        <td>278</td>
                    </tr>
                    <tr>
                        <td>比目鱼(比目鱼/鳎鱼)</td>
                        <td>143</td>
                        <td>112</td>
                        <td>255</td>
                    </tr>
                    <tr>
                        <td>蛤</td>
                        <td>117</td>
                        <td>124</td>
                        <td>241</td>
                    </tr>
                    <tr>
                        <td>混合虾</td>
                        <td>115</td>
                        <td>120</td>
                        <td>235</td>
                    </tr>
                    <tr>
                        <td>淡金枪鱼块</td>
                        <td>40</td>
                        <td>190</td>
                        <td>230</td>
                    </tr>
                    <tr>
                        <td>鲶鱼(野生)</td>
                        <td>85</td>
                        <td>116</td>
                        <td>201</td>
                    </tr>
                    <tr>
                        <td>大比目鱼</td>
                        <td>68</td>
                        <td>132</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>帝王鲭</td>
                        <td>5</td>
                        <td>193</td>
                        <td>198</td>
                    </tr>
                    <tr>
                        <td>扇贝</td>
                        <td>61</td>
                        <td>88</td>
                        <td>149</td>
                    </tr>
                    <tr>
                        <td>青蟹</td>
                        <td>86</td>
                        <td>57</td>
                        <td>143</td>
                    </tr>
                    <tr>
                        <td>鳕鱼</td>
                        <td>3</td>
                        <td>131</td>
                        <td>134</td>
                    </tr>
                    <tr>
                        <td>鲯鳅(鬼头刀)</td>
                        <td>22</td>
                        <td>96</td>
                        <td>118</td>
                    </tr>
                    <tr>
                        <td>罗非鱼</td>
                        <td>4</td>
                        <td>110</td>
                        <td>114</td>
                    </tr>
                    <tr>
                        <td>黄鳍金枪鱼</td>
                        <td>13</td>
                        <td>89</td>
                        <td>102</td>
                    </tr>
                    <tr>
                        <td>鲶鱼(养殖)</td>
                        <td>17</td>
                        <td>59</td>
                        <td>76</td>
                    </tr>
                    <!--SECTION-2-->
                    <tr class="border-both title">
                        <td colspan="4">食物增补剂－每1000毫克胶囊或一小匙的含量</td>
                    </tr>
                    <tr>
                        <td>一般药店出售的鱼油胶囊</td>
                        <td>180</td>
                        <td>120</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>(多种)鱼油精华</td>
                        <td>100-400</td>
                        <td>100-400</td>
                        <td>300-700</td>
                    </tr>
                    <tr>
                        <td>鳕鱼肝油(汤匙)</td>
                        <td>300</td>
                        <td>500</td>
                        <td>800</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="static-footer-text">表格改变自Harris等人所著的当前动脉硬化报告2008年；10:503-509.
            数值基于美国农业部营养数据实验室评估报告，如无注释鱼的处理，则鱼经过烤制。
        </div>
    </div>

    <!--PAGE 8-->
    <!--
    <div style="font-size:18px" class="custom_font_size page-container page-break-after" ng-if="report.is_professional">
        <ng-include src="'views/header-1.html'"></ng-include>
        <div class="report-body">
            <div class="top15">
                <p class="center-align">反式脂肪酸在日常食物中的含量(单位：克)</p>
                <table class="o-table page-3">
                    <thead>
                    <tr class="border-both">
                        <th style="width:40%;">食物</th>
                        <th style="width:20%;">数量</th>
                        <th style="width:20%;">重量(克)</th>
                        <th style="width:20%;">反式脂肪酸(克)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>黄油</td>
                        <td>1匙</td>
                        <td>15</td>
                        <td>2.1</td>
                    </tr>
                    <tr>
                        <td>饼干</td>
                        <td>1片</td>
                        <td></td>
                        <td>2.0</td>
                    </tr>
                    <tr>
                        <td>冰肉桂卷</td>
                        <td>1个</td>
                        <td></td>
                        <td>1.9</td>
                    </tr>
                    <tr>
                        <td>土豆泥，脱脂牛奶和人造黄油</td>
                        <td>1杯</td>
                        <td></td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>糖霜，椰子</td>
                        <td>1份</td>
                        <td>38</td>
                        <td>1.4</td>
                    </tr>
                    <tr>
                        <td>松饼，杏仁罂粟种子(盒装)</td>
                        <td>1个</td>
                        <td>41</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>冰燕麦饼干</td>
                        <td>1片</td>
                        <td>28</td>
                        <td>1.0</td>
                    </tr>
                    <tr>
                        <td>人造黄油桶</td>
                        <td>1匙</td>
                        <td>15</td>
                        <td>0.8</td>
                    </tr>
                    <tr>
                        <td>巧克力饼干</td>
                        <td>1片</td>
                        <td>33</td>
                        <td>0.8</td>
                    </tr>
                    <tr>
                        <td>奶油夹心海绵蛋糕</td>
                        <td>1块</td>
                        <td>28</td>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <td>咸奶油</td>
                        <td>1匙</td>
                        <td>14</td>
                        <td>0.5</td>
                    </tr>
                    <tr>
                        <td>炸鸡条</td>
                        <td>1块</td>
                        <td></td>
                        <td>0.4</td>
                    </tr>
                    <tr>
                        <td>面包团</td>
                        <td>1分</td>
                        <td>52</td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>芝士披萨，厚底(烤)</td>
                        <td>1片</td>
                        <td></td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>培根、蛋和芝士羊角包三明治</td>
                        <td>1份</td>
                        <td></td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>美式芝士</td>
                        <td>1片</td>
                        <td>28</td>
                        <td>0.3</td>
                    </tr>
                    <tr>
                        <td>糖果、甘草樱桃糖</td>
                        <td>18片</td>
                        <td></td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>咸饼干</td>
                        <td>5片</td>
                        <td></td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>香酥鸡三明治</td>
                        <td>1份</td>
                        <td></td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>芝士泡芙</td>
                        <td>1袋</td>
                        <td>35</td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>混合饼干</td>
                        <td>1袋</td>
                        <td>49</td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>(混合)玉米面包</td>
                        <td>1个</td>
                        <td></td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>蒜香面包，冰冻</td>
                        <td>1片</td>
                        <td></td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>玉米粉圆饼，配牧场沙拉酱</td>
                        <td>8片</td>
                        <td>28</td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>巧克力豆饼干，商业</td>
                        <td>1片</td>
                        <td></td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>法式吐司棒，冷藏</td>
                        <td>2片</td>
                        <td></td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>巧克力糖霜(黄油)</td>
                        <td>2匙</td>
                        <td></td>
                        <td>0.1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="static-footer-text">美国农业部SR26，获取来源http://ndb.nal.usda.gov
            2014年2月1日。基于食物供给中不断改变的反式脂肪酸水平，这些数值仅供参考。查看食物产品上的营养成分表是了解反式脂肪酸水平最确切的方法。
        </div>
    </div>-->
</div>
</body>

</html>