<div class="index-pointer" ng-style="n6_n3_position_style">
    <div class="label">您的指标</div>
    <div class="arrow-down"></div>

</div>

<div class="range-desc n6-n3-chart">
    <div class="unit">
        理想 (< 4)
    </div>
    <div class="unit">
        中等 (4 ~ 6)
    </div>
    <div class="unit">
        不理想 (> 6)
    </div>
</div>

<div class="index-chart n6-n3-chart">
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
</div>