<div class="index-pointer" ng-style="trans_fat_index_position_style">
    <div class="label">你的指标</div>
    <div class="arrow-down"></div>

</div>

<div class="range-desc trans-fat-chart">
    <div class="unit">
        理想 (< 1%)
    </div>
    <div class="unit">
        中等 (1% ~ 1.65%)
    </div>
    <div class="unit">
        不理想 (> 1.65%)
    </div>
</div>

<div class="index-chart trans-fat-chart">
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
    <div class="unit">
    </div>
</div>